body {
    background-image: url('../images/bgtweett.jpeg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    background: linear-gradient(to bottom, blue, rgb(15, 178, 178));
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid black; /* Menambahkan pinggiran putih */
}
h1 {
    font-size: 2.5em;
    color: #000;
}

h2 {
    font-size: 1.5em;
    color: #000;
}

form {
    margin-top: 20px;
}

textarea {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    background-color: #22253c;
}

button {
    background-color: #0000ff;
    width: 400px;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #00008b;
}

.placeholder {
    color: #ff69b4;
}

.result {
    margin-top: 20px;
    text-align: left;
}
